// Fuentes
$fuente_principal: 'Quicksand',
sans-serif;
// Tamaño de Media Queries
$tinyMovil: 350px;
$movil: 480px;
$tablet: 870px;
$oldDesktop: 1024px;
$desktop: 1140px;
// Colores
$negro: #000000;
$blanco: #ffffff;
$primary: #1e88e5;
$secondary: #0d47a1;
$bg: #f9f9fb;
$text: #1a1a1a;
$gray: #707070;
$radius: 14px;
$background: #f5f3f3;
$color_princ: #800160;
$color_sec: #c9b8ff;
$gris: #dddcdc;
$rojo: red;
$azul: #1336fcb3;
$negroTransparente: #000000CC;
$verde: rgb(22, 163, 33);
$naranja: rgb(255, 175, 101);
$amarillo: #f7e601;
$separacion: 5rem;
// Fuentes
$delgada: 300;
$regular: 500;
$gruesa: 700;