<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /NiBelCore/public/

    # Si el archivo o carpeta existe, no hacer nada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todo a index.php
    RewriteRule ^ index.php [L]
</IfModule>